<div class="container" style="height: 100vh;">
    <div class="row align-items-center h-100">
        <div class="mx-auto" style="max-width: 300px;">
            <p-panel header="Login" >
                <form>
                    <div >
                        <label class="col-12" for="email">Email</label>
                        <input class="col-12" pInputText id="email" />
                    </div>
                    <div>
                        <label class="col-12" for="password">Password</label>
                        <input class="col-12" pInputText id="password" type="password"/>
                    </div>
                    <div style="margin-top: 10px;" class="row d-flex justify-content-center">
                        <button pButton class="col-4">Login</button>
                        <div style="margin-top: 10px; margin-bottom: -10px;">
                            <button pButton class="p-button-text p-button-sm" (click)="navigateToRegister()">Or register</button>
                        </div>
                    </div>
                </form>
            </p-panel>
        </div>
    </div>
</div>