<div class="container" style="height: 100vh;">
    <div class="row align-items-center h-100">
        <div class="mx-auto" style="max-width: 300px;">
            <p-panel header="Login" >
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div >
                        <label class="col-12" for="email">Email</label>
                        <input class="col-12" pInputText id="email" 
                            [ngClass]="{
                                'ng-invalid': form.controls['email'].errors,
                                'ng-dirty': form.controls['email'].dirty
                            }"
                            formControlName="email"/>
                        <small class="p-error col-12" *ngIf="form.controls['email'].touched 
                            && form.controls['email'].errors
                            && form.controls['email'].errors['required']">Email is required</small>
                        <small class="p-error col-12" *ngIf="form.controls['email'].touched 
                            && form.controls['email'].errors
                            && form.controls['email'].errors['email']">Wrong Email</small>
                    </div>
                    <div>
                        <label class="col-12" for="password">Password</label>
                        <input class="col-12" pInputText id="password" type="password"
                            [ngClass]="{
                                'ng-invalid': form.controls['password'].errors,
                                'ng-dirty': form.controls['password'].dirty
                            }"
                            formControlName="password"/>
                        <small class="p-error col-12" *ngIf="form.controls['password'].touched 
                            && form.controls['password'].errors
                            && form.controls['password'].errors['required']">Password is required</small>
                    </div>
                    <div style="margin-top: 10px;" class="row d-flex justify-content-center">
                        <button pButton class="col-4">Login</button>
                    </div>
                </form>
                <div *ngIf="errors">
                    <small class="p-error col-12" *ngFor="let error of errors">{{error}}</small>
                </div>
                <div style="margin-top: 10px;" class="row d-flex justify-content-center">
                    <div style="margin-top: 10px; margin-bottom: -10px;">
                        <button pButton class="p-button-text p-button-sm" (click)="navigateToRegister()">Or register</button>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>