<table style="height: 4rem; margin-top: 10px;">
    <tr>
        <td class="col-2">
            <p-avatar 
                *ngIf="chat.countOfUnreadMessages"
                [label]="chat.name[0]"
                pBadge
                styleClass="mr-5"
                size="xlarge"
                value="{{chat.countOfUnreadMessages}}"></p-avatar>
            <p-avatar 
                *ngIf="!chat.countOfUnreadMessages"
                [label]="chat.name[0]"
                styleClass="mr-5"
                size="xlarge"></p-avatar>
        </td>
        <td class="col-3">{{chat.name}}</td>
    </tr>
</table>
      
