<div class="d-flex flex-column">
    <h3>Messages</h3>
    <table *ngIf="chat" class="row">
        <tr>
            <td class="col-2">
                <p-avatar 
                    *ngIf="chat.countOfUnreadMessages"
                    [label]="chat.name[0]"
                    pBadge
                    styleClass="mr-5"
                    size="xlarge"
                    value="{{chat.countOfUnreadMessages}}"></p-avatar>
                <p-avatar 
                    *ngIf="!chat.countOfUnreadMessages"
                    [label]="chat.name[0]"
                    styleClass="mr-5"
                    size="xlarge"></p-avatar>
            </td>
            <td class="col-3">{{chat.name}}</td>
        </tr>
    </table>
    
    <p-virtualScroller [value]="messages" scrollHeight="calc(85vh - 120px)" [itemSize]="70" class="d-flex flex-column-reverse">
        <ng-template pTemplate="item" let-msg>
            <app-message-item [message]="msg" [isFromMe]="isFromMe(msg)"></app-message-item>
        </ng-template>
        <ng-template pTemplate="footer">
            <div *ngIf="chat" class="row mt-auto">
                <app-message-input></app-message-input>
            </div>
        </ng-template>
    </p-virtualScroller>
    <div *ngIf="!chat">
        Chat is not selected
    </div>
</div>